[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-jwt-extended = "*"
flask-socketio = "*"
flask-migrate = "*"
flask-cors = "*"
flask-bcrypt = "*"
sqlalchemy-serializer = "*"
faker = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
